<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Print</title>
</head>
    <style>
	   body{ font-family: 'Lato', sans-serif; color:#121212;}
	   
	   hr { border-top:1px solid #f0f0f0;}
	   table { border-collapse:collapse;}
	   .code td{ padding:5px;}
	</style>
<body>
   <div style="width:900px; margin:auto; top:20px; position:relative;">
     <table style="margin-bottom:40px;">
	   <tr>
	     <td><img src="logo.png" /></td>
	   </tr>
	 </table>
   
      <table>
	    <tr>
		  <td>
		   <table>
			  <tr>
				<td style="font-size:16px; color:#000000; line-height:25px; font-weight:bold;">Pay With</td>
			  </tr>
			  <tr>
				<td style="font-size:15px; color:#4e5c6e; line-height:22px;">USD</td>
			  </tr>
			  </table>
		  </td>
		  </tr>
		
		<tr>
		  <td>
		   <table style="margin-top:20px;">
			  <tr>
				<td style="font-size:16px; color:#000000; line-height:25px; font-weight:bold;">Transaction ID</td>
			  </tr>
			  <tr>
				<td style="font-size:15px; color:#4e5c6e; line-height:22px;">DQS8U4L63W9QC</td>
			  </tr>
			  </table>
		  </td>
		  </tr>
		  
		<tr>
		  <td>
		   <table style="margin-top:20px; width:300px;" class="code">
			  <tr>
				<td colspan="2" style="font-size:16px; color:#000000; font-weight:bold;">Details</td>
			  </tr>
			  <tr>
				<td style="font-size:15px; color:#000000;">Amount</td>
				<td style="font-size:15px; color:#4e5c6e; text-align:right;">$ 300.00</td>
			  </tr>
			  <tr style="padding-bottom:10px;">
				<td style="font-size:15px; color:#000000;">Fee</td>
				<td style="font-size:15px; color:#4e5c6e; text-align:right;">$ 300.00</td>
			  </tr>
			  <tr>
			    <td colspan="2" style="border-top:1px solid #eaeaea; padding-top:0; margin-bottom:3px;"></td>
			  </tr>
			  <tr>
				<td style="font-size:15px; color:#000000; font-weight:bold;">Total</td>
				<td style="font-size:15px; color:#4e5c6e; text-align:right; font-weight:bold;">$ 300.00</td>
			  </tr>
			  </table>
		    </td>
		  </tr> 
		  
		<tr>
		  <td>
		   <table style="margin-top:40px;">
			  <tr>
				<td style="font-size:16px; color:#000000; line-height:25px; font-weight:bold;">Note</td>
			  </tr>
			  <tr>
				<td style="font-size:15px; color:#4e5c6e; line-height:22px;">Test</td>
			  </tr>
			  </table>
		     </td>
		  </tr>     
	  </table>
   
   </div>
</body>
</html>
