* {
    margin: 0;
    padding: 0;
}

body {
 
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;    
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 13px !important;
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    font-size: 48px;
    color: #181818;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    color: #181818;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    color: #181818;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    color: #181818;
    font-weight: 600;
}

h5 {
    font-size: 14px;
    color: #181818;
    font-weight: 600;
}

h6 {
    font-size: 12px;
    color: #181818;
    font-weight: 600;
}

.section-title {
    margin-bottom: 18px;
    text-align: center;
    font-weight: 500;
}

.sub-header {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 26px;
    color: #000000;
    letter-spacing: .8px;
}

.bold {
    font-weight: 700;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:focus {
    text-decoration: none;
    outline: 0;
    color: #000;
}

.padding-30 {
    margin-bottom: 50px;
}

.padding-style2 {
    padding: 80px 0;
}

.animation {
    opacity: 0;
}

.btn-style1 {
    padding: 10px 22px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    border: none;
}

.btn-style1:hover {
    background-color: #ececec;
    color: #000;
}

.btn-style2 {
    padding: 12px 22px;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    outline: 1px solid #fff;
}

.btn-style2:hover,
.btn-style2:focus {
    background-color: #fff;
    color: #000;
}

.btn-style3 {
    padding: 10px 22px;
    background-color: #46c3aa;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-style3:hover {
    background-color: #063241;
    color: #fff;
}

.btn-style4 {
    padding: 10px 22px;
    background-color: #063241;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-style4:hover {
    background-color: #46c3aa;
    color: #fff;
}

.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.preloader-img {
    background-image: url("../images/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

#scroll-top-area {
    background: #46c3aa;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    z-index: 8;
    transition: all 6s;
}

#scroll-top-area i {
    color: #fff;
    padding: 12px 12px;
    font-size: 16px;
    display: block;
}